#imagen1{
    position: absolute;
    top: 0px;
}

#formulario1{
    position: relative;
    padding: 100px;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    background-color: darkgray;
}